body {
  background-image: url("images/discobackground.gif");
  background-size: cover;
  margin: 0 auto;
  overflow: hidden;
}
img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: auto;
}
.gametitle {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 45px;
  margin: 0 auto;
  color: pink;
}
.gamesubtitle {
  text-align: center;
  font-family: 'Bungee', cursive;
  font-size:20px;
  color: pink;
}

.prompt {
  width: 70%;
  height: 50px;
  border: 3px solid black;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  background-color: pink;
}

.player1 {
  float: left;
  color:pink;
  font-family: 'Bungee Shade', cursive;
  margin: 0 auto;
  width:auto;
  text-align: center;
}
.player2 {
  float: right;
  color:pink;
  font-family: 'Bungee Shade', cursive;
  margin: 0;
  width:auto;
  text-align: center;
}

.monitor1 {
  width: auto;
  height: 50px;
  /*border: 3px solid black;*/
  color: black;
  margin: 20px 10px;
  border-radius: 10px;
  float:left;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  background-color: pink;
  border: 3px solid black;
}

.monitor2 {
  width: auto;
  height: 50px;
  /*border: 3px solid black;*/
  color:black;
  margin: 20px auto;
  border-radius: 10px;
  float:right;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  background-color: pink;
  border: 3px solid black;
}

button {
  width:auto;
  height:50px;
  font-family: 'Bungee', cursive;
  font-size: 25px;
  font-weight: lighter;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  color:pink;
  background-color: #138323;
}

.redchar {
  height: 240px;
}
.bluechar {
  height: 240px;
}
.alert {
  width: 50%;
  color:black;
  margin: 20px auto;
  border-radius: 10px;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  background-color: pink;
  text-align: center;
}
